div {
    width: 800px;height: 200px;
;
    text-align: center;


      font-weight:bold;
      font-family: 微软雅黑;
      line-height: 30px;
      background-color: rgb(84, 207, 207);
      margin: 0 auto;
    

    }















































/* 未访问链接 */
  a lin {
    color: #fc8523;
}

/* 已访问链接 */
a:visited {
    color: #ffffff;
}

/* 鼠标移动到链接上面的时候 */
a:hover {
    color: #fc8523;
}

/* 鼠标点击时 */
a:active {
    color: 0000ff
}
</style>


<meta charset="utf-8">
<title>我的博客</title>
<style>
ul {

    /* ctrl k 加 ctrl u  快捷注释 */

    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}




#boke  {
        color: rgba(104, 69, 26, 0.397);
    }
